html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
 
  font-family: $font-family;
  font-weight: 300;
  line-height: 2em;
}

nav {
  background-color: $header-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  width: 100%;
  text-decoration: none;
  color: $hyperlinks-nav;
  margin-bottom: 1em;

  img {
    height: 8em;
    display: flex;
    justify-content: center;
    margin: 1em;
  }
}

.nav__container {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;

  .nav__links {
    text-decoration: none;

    &:hover {
      color: $font-color;
      text-decoration: none;
    }
  }
}

main {
  width: 100%;
  padding: 1em;
  h1 {
    text-align: left;
  }
  
    
  }


.menu {
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.menu__item1 {
  .menu__float p {
    @include pricing-1;
  }
}

.menu__item2  {
    .menu__float p {
  @include pricing-1;
}
}

.menu__item3 {
  .menu__float p {
  @include pricing-1;
}
}

.menu__item4  {
    .menu__float p {
  @include pricing-1;
}
}

.menu__closing img {
// width: 65vw;
height: 50vh;
display: block;
  margin-left: 5em;
  margin-right: auto;
  padding-left: 18em;
  margin-top: 3em;
  
}
@media (min-width: 768px) {
  nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
      padding-left: 3em;
    }
  }
  .nav__container {
    width: 35%;
    padding-right: 2em;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
//   .menu {
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    // justify-content: space-between;
   .menu.row {
// display: flex;

    .column1 {
         float: left;
         width: 50%;
    }
   }


    
  }


// .menu__coffee{
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     p{
//         display: inline-block;
//         &:nth-child(even){
//         width: 70%;
//         text-align: left;
//         }
//         &:nth-child(odd){
//         width: 30%;
//         text-align: right;

//         }
//     }

// }
//  .menu__item1 {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     width: 80vw;
//     margin: 100px;
//     padding: 50px;
//     background-color: lightcyan;
      
      
     
    
//     }
//     .menu__item2 {
      
//       display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     justify-content: space-between;
//     background-color: aqua;
//     }
//     .menu__item3 {
     
//       display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     justify-content: space-between;
//       background-color: lightcoral;
    
//     }
//     .menu__item4 {
     
//       display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     justify-content: space-between;
//     background-color: lightgreen;
     
//     }